[user]
	email = noahtorrance27@gmail.com
	name = Noah Torrance
	signingkey = /home/noah/.ssh/github.com.pub
[pull]
	ff = only
[alias]
	pull-force = !git reset --hard HEAD && git pull
	push-force = push --force
	clone-all = clone --recurse-submodules
	pull-all = pull --recurse-submodules
[gpg]
	format = ssh
