.config/OpenRGB/OpenRGB.json
.config/OpenRGB/logs
.config/mpd/mpd.db
.config/mpd/mpdstate
.config/ncmpcpp/error.log
.config/ranger/plugins/__pycache__
.config/retroarch/*
!.config/retroarch/retroarch.cfg
.config/systemd/user/default.target.wants
.config/systemd/user/sockets.target.wants
.config/Thunar/accels.scm
.local/share/yetris/noah/hscores.yetrisscores
.local/share/yetris/noah/statistics.bin
