[user]
	email = noahtorrance27@gmail.com
	name = Noah Torrance
[pull]
	ff = only
[alias]
	pull-force = "git reset --hard HEAD; git pull"
	push-force = git push --force
	clone-all = clone --recurse-submodules
	pull-all = pull --recurse-submodules
